<!-- Main -->
<link href="https://gpt.bot.nu/" rel="canonical"/>
<meta content="NovaGPT" name="apple-mobile-web-app-title"/>
<meta content="en" http-equiv="Content-Language"/>

<!-- OpenGraph -->
<meta property="og:title" content="NovaGPT: Use cutting-edge AI for free!">
<meta property="og:type" content="website">
<meta property="og:url" content="https://gpt.bot.nu">
<meta property="og:image" content="https://gpt.bot.nu/static/img/cover.png">

<!-- Description -->
<meta property="og:description" content=
    "🤖 Tried of paying for AI APIs? NovaGPT allows you to utilize the newest language models for absolutely free!"
>
<meta property="description" content=
    "🤖 Tried of paying for AI APIs? NovaGPT allows you to utilize the newest language models for absolutely free!"
>
<meta name="description" content=
    "🤖 Tried of paying for AI APIs? NovaGPT allows you to utilize the newest language models for absolutely free!"
>

<meta property="og:determiner" content="the">
<meta property="og:locale" content="en_US">
<meta property="og:locale:alternate" content="en_GB">
<meta property="og:site_name" content="Official NovaGPT Website">

<meta property="og:article:author" content="NovaGPT">
<meta property="og:article:tag" content="novagpt">

<!-- Other -->
<meta name="theme-color" content="#ff0eb1">
<meta name="twitter:card" content="summary_large_image">
