{% include 'components/top.html' %}

<section class="landing">
    <h1>Fox<span class="gradient">GPT</span></h1>
    <p class="subtitle">
        Making cutting-edge AI tech available for free.
        <br>
        Sounds too good to be true? <a href="https://reqbin.com/c-4emjuxah" target="_blank">See for yourself!</a>
        <br>
        <br>
        Use it in <a href="https://chat.hypere.app/" target="_blank">Hypere Chat!</a>

    </p>
    <div class="buttons">
        <a href="#get-started">
            <button>Get started</button>
        </a>

        <a href="#faq">
            <div class="border">
                <button>Learn more</button>
            </div>
        </a>
    </div>
</section>

<h2 id="get-started">Getting Started</h2>
<h3>Get a key in our discord server, and then:</h3>
<h3>In your script:</h3>
<table>
    <tr>
        <th>Change...</th>
        <th>To...</th>
    </tr>
    <tr>
        <td><code>https://api.openai.com/...</code></td>
        <td><code>https://api.hypere.app/...</code></td>
    </tr>
</table>
<h3>In Python:</h3>
<table>
    <tr>
        <th>Change...</th>
        <th>To...</th>
    </tr>
    <tr>
        <td><code>openai.api_key = 'sk-...'</code></td>
        <td><code>openai.api_key = 'key' #get a free key in our discord server!</code></td>
    </tr>
</table>
    
<p>
    After that, add the line <code>openai.api_base = 'https://api.hypere.app'</code>
</p>

<p>And you should be good to go!</p>

<h2 id="examples">Basic Examples</h2>
<div class="tab-list">
    {% for example in examples %}<a href="#{{ example.name }}" ondragstart="return false">{{ example.name }}</a>{% endfor %}
</div>
<div class="tab-content">
    {% for example in examples %}
    <div id="{{ example.name }}-tab"><pre><code class="language-{{ example.extension }}">{{ example.code }}</code></pre></div>
    {% endfor %}
</div>
<span id="copy-button" title="Copy code to clipboard">
    <i class="bi bi-clipboard"></i>
</span>

<h2 id="features">Features</h2>
<p>Most of the main features of <a href="https://platform.openai.com/docs/api-reference" target="_blank">OpenAI's API</a> are supported.</p>
<p>There isn't any documentation for FoxGPT, as it's based on OpenAI.</p>

<table>
    <tr>
        <th>Feature</th>
        <th>FoxGPT</th>
    </tr>
    <tr>
        <td>Create completion</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>Create chat completion</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>Edits</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>List models</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>Retrieve model</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>Image generation</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>Embeddings</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>Moderation</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>Audio transcriptions</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>Streaming</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>GPT-4</td>
        <td>✅ (donators only)</td>
    </tr>
</table>

<h3 id="models">All publicly accessible models are supported:</h3>
<table>
    <tr>
        <th>Model</th>
        <th>FoxGPT</th>
    </tr>
    <tr>
        <td>text-ada-001</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>text-babbage-001</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>text-curie-001</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>text-davinci-003</td>
        <td>✅</td>
    </tr>
        <tr>
        <td>gpt-3.5-turbo</td>
        <td>✅</td>
    </tr>
        <tr>
        <td>gpt-3.5-turbo-0301</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>whisper-1</td>
        <td>✅</td>
    </tr>
    <tr>
        <td>gpt-4</td>
        <td>✅ (donators only)</td>
    </tr>
    <tr>
        <td>gpt-4-0314</td>
        <td>✅ (donators only)</td>
    </tr>
    <tr>
        <td>gpt-4-32k</td>
        <td>❌</td>
    </tr>
    <tr>
        <td>gpt-4-32k-0314</td>
        <td>❌</td>
    </tr>
</table>

<h2 id="rate-limits">Rate Limits</h2>
<ul>
{% for rate_limit in rate_limits %}
    <li>{{ rate_limit }}</li>
{% endfor %}
</ul>

<h2 id="faq">Frequently Asked Questions</h2>
<h3>Features</h3>

<details>
    <summary>Do you support/will you add [any feature]?</summary>
    <p>
        Just try it out and see if it works! If you want to suggest something, please contact me.
    </p>
    
</details>

<details>
    <summary>I get [any error]! How do I fix it?</summary>
    <p>
        If you get an error, please contact me. Make sure you copied the code from the example and followed all steps.
    </p>
</details>

<details>
    <summary>Where can I find the documentation?</summary>
    <p>
        There is no documentation for this service, because it's based on OpenAI's API.
        <br>
        You can learn more about how to use <a href="https://platform.openai.com/docs/api-reference" target="_blank">OpenAI's API</a> here.
    </p>
</details>

<h3>General</h3>
<details>
    <summary>How is this free?</summary>
    <p>
        I'm paying for the server out of my own pocket. If you would like to support this project, please check out the <a href="#donate">donate</a> section.
    </p>
</details>

<details>
    <summary>Do you collect my ChatGPT/OpenAI session token/API key?</summary>
    <p>
        No. It's not even possible for me to do that, unless you leave your OpenAI key in <code>openai.api_key</code> or send it otherwise in the API request.
    </p>
</details>

<details>
    <summary>Does OpenAI know my IP?</summary>
    <p>
        No. The <code>user</code> parameter is completely randomized by default.
    </p>
</details>

<details>
    <summary>Do I need to provide any API key?</summary>
    <p>
        No. In the official <code>openai</code> Python library, set <code>api_key</code> to <code>''</code>. In the other libraries, just don't set it at all.
    </p>
</details>

{% include 'components/end.html' %}